  <div class="authentication" *ngIf="loaded">
    <div class="sign-in">
      <div class="row no-mrg-horizon">
        <div class="col-md-8 no-pdd-horizon d-none d-md-block">
          <div class="full-height bg" style="background-image: url('assets/images/login.jpg')">
            <div class="img-caption">
                <h1 class="caption-title">Residential Life</h1>
                <p class="caption-text">Login to use all of the features.</p>
              </div>
          </div>
        </div>
        <div class="col-md-4 no-pdd-horizon">
          <div class="full-height bg-white height-100">
            <div class="vertical-align full-height pdd-horizon-70">
              <div class="table-cell">
                  <div class="pdd-horizon-15">
                      <h2>Login</h2>
                      <form #loginForm="ngForm" (ngSubmit)="login(loginForm)" (keydown)="keyDownFunction($event, loginForm)">
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Username">Username</label>
                                    <input [(ngModel)]="Username" #name="ngModel" type="text" class="form-control" placeholder="Username" name="name" id="name" required [ngClass]="{'error': !name.valid && (name.dirty || name.touched)}">
                                    <label class="error" *ngIf="!name.valid && (name.dirty || name.touched)">Username is required</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-12">
                                <div class="form-group">
                                    <label for="Password">Password</label>
                                    <input type="password" [(ngModel)]="Password" #pword="ngModel" class="form-control" id="pword" placeholder="Password" name="pword" required [ngClass]="{'error': !pword.valid && (pword.dirty || pword.touched)}">
                                    <label *ngIf="!pword.valid && (pword.dirty || pword.touched)" class="error" >Password is required</label>
                                </div>
                            </div>
                        </div>
                        <div class="row">
                          <div class="col-md-12">
                              <div class="form-group">
                                  <label for="Hall">Hall</label>
                                  <ng-select [(ngModel)]="SelectedHall" #hall="ngModel" id="hall" placeholder="Hall" name="hall" required [ngClass]="{'error': !hall.valid && (hall.dirty || hall.touched)}">
                                    <ng-option *ngFor="let hall of Halls"
                                        [value]=hall.id>
                                      {{hall.Name}}
                                    </ng-option>
                                  </ng-select>
                                  <label *ngIf="!hall.valid && (hall.dirty || hall.touched)" class="error" >Hall is required</label>
                              </div>
                          </div>
                        </div>

                        <button type="submit" class="btn tf-btn btn-success" name="submit_signin" [disabled]="!loginForm.valid">Login</button>
                        <img *ngIf="loading" class="pl-2" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
                    </form>
                  <div *ngIf="error" class="alert alert-danger">{{error_message}}</div>
                  </div>
              </div>
            </div>
            <div class="login-footer">
              <img class="img-responsive inline-block" src="assets/images/logo/logo.png" width="100" alt="">
              <span class="font-size-13 pull-right pdd-top-10">Forgot your password?  <a href="#" (click)="ForgotPassword()" role="button" data-toggle="modal" data-target="#modal-forgot">Reset</a></span>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>