<h2>{{Type == "E" ? "Add Currency" : "Sell Items"}}</h2>
<form #resetPassword="ngForm" (ngSubmit)="onSubmit(resetPassword)" name="resetPassword"> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Email">Email</label>
                <input [(ngModel)]="Email" #email="ngModel" type="email" class="form-control" placeholder="Email" name="email" id="email" required [ngClass]="{'error': !email.valid && (email.dirty || email.touched)}">
                <label *ngIf="email.invalid && (email.dirty || email.touched)" class="error">
                    <div *ngIf="email?.errors?.required">
                        Email is required.
                    </div>
                    <div *ngIf="email?.errors.email">
                        Please provide a valid email.
                    </div>
                </label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn tf-btn btn-success" name="submit_signin" [disabled]="!resetPassword.valid">Submit</button>
</form>
