<!-- <mat-dialog-content style="margin-bottom:-10px;">
    {{message}}
</mat-dialog-content> -->
<h2>Add Currency</h2>
<form #addEarnable="ngForm" (ngSubmit)="onSubmit(addEarnable)" name="addEarnable"> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Reason">Resident</label>
                <!-- <select [(ngModel)]="SelectedReason" #reason="ngModel" class="form-control" id="reason" placeholder="Reason" name="reason" required [ngClass]="{'error': !reason.valid && (reason.dirty || reason.touched)}">
                    <option disabled selected>Select a reason</option>
                    <option *ngFor="let earn of Earnable"
                        [value]=earn.id>
                        {{earn.Name}}
                    </option>
                </select> -->
                <ng-select [(ngModel)]="SelectedResidents" [multiple]="true" #residents="ngModel" id="residents" placeholder="Select a resident or multiple residents..." 
                            name="residents" required [ngClass]="{'error': !residents.valid && (residents.dirty || residents.touched)}">
                    <ng-option *ngFor="let resident of Residents" [value]="resident.id">{{resident.FirstName}} {{resident.LastName}}</ng-option>
                </ng-select>
                <label *ngIf="!residents.valid && (residents.dirty || residents.touched)" class="error" >Atleast one selection is required</label>
                <a style="cursor:pointer;color:gray;margin-left:10px;" (click)=AddResi()> Add Resident..</a>
            </div>
        </div>
    </div> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Reason">Reason</label>
                <ng-select  [(ngModel)]="SelectedReason" #reason="ngModel" id="reason" placeholder="Select a reason..." name="reason" required [ngClass]="{'error': !reason.valid && (reason.dirty || reason.touched)}">
                    <ng-option *ngFor="let earn of Earnable"
                        [value]=earn.id>
                        {{earn.Name}}
                    </ng-option>
                </ng-select >
                <label *ngIf="!reason.valid && (reason.dirty || reason.touched)" class="error" >Reason is required</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn tf-btn btn-success" name="submit_signin" [disabled]="!addEarnable.valid">Submit</button>
</form>
