<h2>{{Edit ? 'Edit' : 'Add'}} {{Type == "E" ? "Earnable Method" : "Sellable Items"}}</h2>
<form #addEarnable="ngForm" (ngSubmit)="onSubmit(addEarnable)" name="addEarnable"> 
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Title">{{Type == "E" ? "Earnable Method Title" : "Sellable Item Name"}}</label>
                <input [(ngModel)]="Title" #title="ngModel" type="text" class="form-control" placeholder='{{Type == "E" ? "Earnable Method Title" : "Sellable  Item Name"}}' name="title" id="title" required [ngClass]="{'error': !title.valid && (title.dirty || title.touched)}">
                <label class="error" *ngIf="!title.valid && (title.dirty || title.touched)">{{Type == "E" ? "Earnable Method Title" : "Sellable  Item Name"}} is required</label>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-12">
            <div class="form-group">
                <label for="Cost">{{Type == "E" ? "Earnable Amount" : "Cost"}}</label>
                <input [(ngModel)]="Cost" type="number" #cost="ngModel" class="form-control" placeholder='{{Type == "E" ? "Earnable Amount" : "Cost"}}' name="cost" id="cost" required [ngClass]="{'error': !cost.valid && (cost.dirty || cost.touched)}">
                <label class="error" *ngIf="!cost.valid && (cost.dirty || cost.touched)">{{Type == "E" ? "Earnable Amount" : "Cost"}} is required</label>
            </div>
        </div>
    </div>
    <button type="submit" class="btn tf-btn btn-success" name="submit_signin" [disabled]="!addEarnable.valid">Submit</button>
</form>
