<div class="container-fluid" >
    <br/>
    <div class="row">
      <div class="col-lg-12">
          <div class="card">
              <div class="card-heading border bottom">
                  <h4 class="card-title">Registration</h4>
              </div>
              <div class="card-block">
                      <div class="row">
                          <div class="col-md-12 ml-auto mr-auto">
                              <form #registerForm="ngForm" (ngSubmit)="register(registerForm)">
                                  <div class="row">
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="Username">Hall</label>
                                              <input [(ngModel)]="Hall" #hall="ngModel" readonly type="text" class="form-control" placeholder="Username" name="hall" required [ngClass]="{'error': !hall.valid && (hall.dirty || hall.touched)}">
                                              <label class="error" *ngIf="!hall.valid && (hall.dirty || hall.touched)">Hall is required</label>
                                          </div>
                                      </div>
                                      <div class="col-md-6">
                                          <div class="form-group">
                                              <label for="Username">Position</label>
                                              <input [(ngModel)]="Position" #position="ngModel" readonly type="text" class="form-control" placeholder="Position" name="position" required [ngClass]="{'error': !position.valid && (position.dirty || position.touched)}">
                                              <label class="error" *ngIf="!position.valid && (position.dirty || position.touched)">Position is required</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Name <small class="text-normal">*Minimum 8 characters</small></label>
                                              <input class="form-control" [ngClass]="{'error' : minlength?.errors?.minlength}" placeholder="Enter your name" type="text" ngModel name="minlength" #minlength="ngModel" minlength="8"/>
                                              <label class="error" *ngIf="minlength?.errors?.minlength">Please enter at least 8 characters.</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Email</label>
                                              <input type="url" class="form-control" name="url" placeholder="Insert a valid URL format" ngModel name="url" #url="ngModel" url [ngClass]="{'error': url?.errors?.url}">
                                              <label class="error" *ngIf="url?.errors?.url">Please enter a valid URL.</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Password</label>
                                              <input type="url" class="form-control" name="url" placeholder="Insert a valid URL format" ngModel name="url" #url="ngModel" url [ngClass]="{'error': url?.errors?.url}">
                                              <label class="error" *ngIf="url?.errors?.url">Please enter a valid URL.</label>
                                          </div>
                                      </div>
                                  </div>
                                  <div class="row">
                                      <div class="col-md-12">
                                          <div class="form-group">
                                              <label>Lockout Pin</label>
                                              <input type="url" class="form-control" name="url" placeholder="Insert a valid URL format" ngModel name="url" #url="ngModel" url [ngClass]="{'error': url?.errors?.url}">
                                              <label class="error" *ngIf="url?.errors?.url">Please enter a valid URL.</label>
                                          </div>
                                      </div>
                                  </div>
                                  <button class="btn btn-primary" type="submit">Register</button>
                              </form>
                          </div>
                      </div>
              </div>
          </div>
      </div>
    </div>
  </div>

  <footer class="content-footer">
      <div class="footer">
          <div class="copyright">
              <span>
                <img class="img-responsive inline-block" src="assets/images/logo/logo.png" height="60" alt="">
              </span>
          </div>
      </div>
  </footer>
